body {
  background: url('background.jpeg');
  background-repeat: no-repeat;
}
.page {
  padding: 10px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}
.box1 {
  width: 40%;
  margin: auto;
  text-align: center;
  border:1px solid black;
  background-color: lightblue;
  }

  .about-me {
    text-align: left;
    text-indent: 40px;
  }

  .free-time {
    margin-bottom: 50px;
    text-align: left;
    text-indent: 40px;
  }

.resume {
  margin: 20px;
  border: dashed 1px black;
  background-color: cornflowerblue;
  float: right;
  padding: 4px;
  text-align: left;
}

.resume h3 {
  text-align: center;
}

h1 {
  color: darkblue;
  text-align: center;
}

.list {
  text-align: left;
  border: 2px solid green;
  background-color: lightgrey;
  padding: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-heading {
  text-align: center;
  margin-top: 100px;
}