.page {
  margin: 1px;
  background-color: lightblue;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box1 {
  text-align: center;
  margin 10px;
  border: 10px black;
  background-color: white;

}
.resume {
  border: 10px orange;

  text-align: left;

}
h1 {
  color: darkblue;
  text-align: center;
}