.page {
  background-color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.box1 {
  width: 500px;
  text-align: center;
  border:1px solid black;
  background-color: lightblue;
  

}
.resume {
  margin: 75px;
  border: dashed 1px orange;
  padding: 4px;
  text-align: left;

}
h1 {
  color: darkblue;
  text-align: center;
}